.full-height{
    height: 80vh;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form_name{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex: 1;
    align-items: center;
}

.form_input{
    flex: 1;
}

label{
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.form_input input, .form_input select, .form_input textarea{
    width: 100%;
    resize: none;
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    font-size: 18px;
}

.form_input input:focus, .form_input select:focus, .form_input textarea:focus{
    border-bottom: 2px solid var(--mediumblue);
}

textarea{
    height: 150px;
}

.form_submit{
    display: flex;
    justify-content: flex-end;
}

.form_submit input{
    padding: 10px 0;
    width: 300px;
    background-color: var(--lightblue);
    border-radius: 100px;
    border: 2px solid var(--mediumblue);
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: var(--mediumblue);
}

.form_submit input:hover{
    background-color: var(--mediumblue);
    color: white;
}